
body{
    font-family: sans-serif;
    max-width: 1000px;
    box-sizing: border-box;

}
nav{
    box-sizing: border-box;
    height: 93px;
    background: url("../img/wooden-menu.png") no-repeat center;
    position: relative;

}
nav ul{
    box-sizing: border-box;
    float: left;
    margin-left: 50px;
    margin-top: 26px;

}
nav ul li{

    border: solid 2px transparent;
    letter-spacing: .15em;
    color: #ffffff;
    margin-top: .3%;
    margin-left: 34px;
    padding: 5px 10px;
    display:inline-block;
    text-align: center;
    cursor: pointer;
}
nav ul li:hover{
    background-color: hsla(0, 0%, 69%, 0.55);
    border: 2px inset hsla(0, 0%, 87%, 0.76);

}
nav input{

    width :150px;
    margin-top: 25px;
    margin-left: 20px;
    height: 20px;
}
nav button{
    position: absolute;
    bottom: 46%;
    right: -.7%;
    margin-top: 25px;
    margin-right: 40px;
    background-image: url("../img/wooden_search.png");
    background-size: cover;
    width: 30px;
    height: 24px;
}
nav button:hover{
    cursor: pointer;
}