h3, p{
    margin: 15px auto;
}
p{
    width: 30%;
}
img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
h3{
    text-align: center;
}
#test{
    background-image: url("../img/cta.png");
}